

	.headerwrapper {
		background-color: rgba(80,23,2,0.7);
	}
	.mainpage {
		padding: 200px 0px;
	}
	
	.affix {
		position: fixed;
		width: 100%;
		top: 0;
		left: 0;
		z-index: 100;
	}
	
	.affix .headerwrapper {
		transition: background-color .3s linear;
		-webkit-transition: background-color .7s linear;
		background-color: rgba(80,23,2,1);
	}
	
	.menuwrapper {
		background-color: rgba(54, 11, 11);
	}
	
	#logo {
		padding-left: 0px;
		padding-top: 13px;
	}
	.logo {
		font-family: 'Oswald', sans-serif; font-weight: 400; font-size: 21pt; letter-spacing: 0.04em;
		color: #699;
		padding-top: 20px;
	}
	.logo strong {
		font-family: 'Oswald', sans-serif; font-weight: 400; font-size: 21pt; letter-spacing: 0.04em; 
		color: #960;	
	}
	#logolarge {
		padding: 0px;
	}
	.info {
		font-family: 'Oswald', sans-serif; font-weight: 500; font-size: 18pt;
		color: rgba(80,23,2,1);
		background-color: rgba(153,102,0,0.4); padding: 20px;
		letter-spacing: 0.03em;line-height: 27px;
		margin-left: 45px;
		padding-top: 25px;
	}
	.info strong {
		font-family: 'Oswald', sans-serif; font-weight: 200; font-size: 14pt;
		color: rgba(80,23,2,1);
		letter-spacing: 0.02em; line-height: 7px;
	}
	.maininfo {
		padding-top: 50px;
	}
	#hhspecials {
		padding-left: 3px;
		font-family: 'Oswald', sans-serif;
		font-size: 12pt;
		color: #ffffff;
		letter-spacing: 0.2em;
	}
	.navbar li {
		display: inline-block;
		margin: 0px 0px 0px 0px;
		padding: 0px 8px 0px 8px;
	}
	#nav {
		color: white;
		font-family: 'Oswald', sans-serif;
		font-size: 15pt;
		color: #ffffff;
		margin: 30px 0px 0px 20px;
	}
	#nav li {
		padding-left: 15px;
	}
	#nav a {
		color: #fff;
	}
	
	#nav a:hover {
		color: #960;
	}
	
	.container .socialmedia {
		float: right;
		padding: 0;
		margin: 12px 0px 10px 0px;
	}
	.socialmedia li {
		padding-left: 5px;
		padding-bottom: 0px;
	}
/*
	#menu {
		height: 1000px;
	}
	#about {
		height: 1000px;
	}
	#blog {
		height: 1000px;	
	}
*/
	.menu-sub {
		color: white;
		font-family: 'Oswald', sans-serif;
		font-size: 12pt;
		color: #ffffff;
		line-height: 15pt;
		background-color: rgba(153,102,0,0.32); padding: 20px;
	}
	h5 {
		font-family: 'Oswald', sans-serif;
		font-size: 16pt;
		color: #ffffff;
		margin-bottom: 30px;
	}
	h6 {
		font-family: 'Oswald', sans-serif;
		font-size: 13pt;
		color: #f6c678;
		margin-top: 7px;
	}
	.salads {
		padding: 0px 0px 0px 85px;
	}
	.hotplates {
		padding: 0px 0px 0px 100px;
	}
	
	.pages {
		min-height: 1000px;
		padding: 100px 0;
	}
	#page1 {
		  background: url(../img/hamiltonbkgd.jpg) no-repeat center center fixed; 
		  -webkit-background-size: cover;
		  -moz-background-size: cover;
		  -o-background-size: cover;
		  background-size: cover;	}
	#page2 {
		  background: url(../img/menubkgd.jpg) no-repeat center center fixed; 
		  -webkit-background-size: cover;
		  -moz-background-size: cover;
		  -o-background-size: cover;
		  background-size: cover;	}
	#page3 {
		  background: url(../img/aboutbkgd.jpg) no-repeat center center fixed; 
		  -webkit-background-size: cover;
		  -moz-background-size: cover;
		  -o-background-size: cover;
		  background-size: cover;	}
	#abouttext {
		font-family: 'Oswald', sans-serif;
		font-size: 13pt;
		color: #f6c678;
		background-color: rgba(80,23,2,0.5); padding: 20px;
		line-height: 20px;
	}
	.subtext {
		padding: 80px 0px 50px 0px;
	}
	#page4 {
		  background: url(../img/gallerybkgd.jpg) no-repeat center center fixed; 
		  -webkit-background-size: cover;
		  -moz-background-size: cover;
		  -o-background-size: cover;
		  background-size: cover;
	}
	.bw {
	  -webkit-transition: all 0.5s ease;
	  -moz-transition: all 0.5s ease;
      -o-transition: all 0.5s ease;
      -ms-transition: all 0.5s ease;
	  transition: all 0.5s ease;
	}
	.bw:hover {
	  -webkit-filter: grayscale(100%);
	}
	.photos li {
		display: inline-block;
		padding: 8px;
	}
	.gallery li {
		padding-right: 30px;
	}

	